<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport">
    <title>The Cow Bull Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/icons/bull.ico') }}">
</head>

<body>
    <div class="col-lg-6 align-center" id="header-text">
        <h1>The Cow Bull Game</h1>
        <h5>A word guessing game</h5>
    </div>
    <div id="main-game-area">
        <div class="align-center">
            <p><strong>Current attempt: </strong>{{tries + 1}} / 10</p>
        </div>
        <form method="post" id="input_word" action="/" enctype="multipart/form-data">
            <div class="form-group row col-lg-6" id="main-game-form">
                <label for="new_guess" class="col-lg-3 col-form-label">
                    <strong>Make a guess: </strong>
                </label>
                <div class="col-lg-9">
                    <input type="text" name="new_guess" id="new_guess" class="form-control" required maxlength="4"
                        onkeydown="return /[a-z]/i.test(event.key)" placeholder="Enter a 4 letter word here..." />
                </div>
                <div class="form-group row col-lg-3 col-sm-4" id="submit-btn">
                    <button type="submit" class="btn btn-success custom-big-btn">Submit</button>
                </div>
            </div>
        </form>
        <div class="align-center">

            {% if error_msg %}
            <div class="text-danger">
                {{error_msg}}
            </div>
            {% endif %}

            {% if correct_word %}
            <div id="correct-word-msg">
                The correct word was: <span class="border">{{correct_word}}</span>
            </div>
            {% endif %}

            {% if game_over_msg %}
            <div id="game-over-msg">
                <p>{{game_over_msg}}</p>
                <p>You can continue playing by making guesses for the next word.</p>
            </div>
            {% endif %}

        </div>

        {% if tries == 0 %}
        <div class="hyperlink-btn-container align-center">
            <button type="button" class="btn btn-primary col-lg-2 col-sm-3 custom-big-btn">
                <a href="/how-to-play"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;How to play</a>
            </button>
        </div>
        {% endif %}
        {% if tries > 0 %}
        <div class="hyperlink-btn-container align-center">
            <button type="button" class="btn btn-danger col-lg-2 col-sm-3 custom-big-btn">
                <a href="/reset"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;Reset Game</a>
            </button>
        </div>
        {% endif %}
    </div>
    {% if tries > 0 %}
    <div class="col-lg-8 align-center" id="attempts-table-container">
        <table class="table table-striped table-bordered table-hover caption-top">
            <caption>Past attempts</caption>
            <thead>
                <tr>
                    <th scope="col" class="col-lg-2 col-sm-2">Attempt #</th>
                    <th scope="col" class="col-lg-4 col-sm-4">Guess</th>
                    <th scope="col" class="col-lg-3 col-sm-3"><i class="fa fa-bullseye fa-border"
                            aria-hidden="true"></i>&nbsp;Bulls</th>
                    <th scope="col" class="col-lg-3 col-sm-3"><i class="fa fa-bell fa-border"
                            aria-hidden="true"></i>Cows</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(tries-1, -1, -1) %}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{guesses[i]}}</td>
                    <td>{{results[i][0]}}</td>
                    <td>{{results[i][1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>